{% extends 'base.html' %}
{% block title %}Writing Stats - New Entry {% endblock %}

{% block body %}
<div>
    {{ message }}
</div>
<div class="response-message">

</div>
<form class="new-entry-form" method="POST">
    <div class="form-group">
      <label for="entry_minutes">Enter Minutes</label>
      <input type="number" class="form-control" id="entry_minutes" name="entry_minutes" value="0" default-input-value="0">
    </div>
    <div class="form-group">
      <label for="entry_words">Enter Words</label>
      <input type="number" class="form-control" id="entry_words" name="entry_words" value="0" default-input-value="0">
    </div>
    <div class="form-group">
        <label for="entry_type_id">Select Entry Type</label>
        <select multiple class="form-control" id="entry_type_id" name="entry_type_id">
            {% for entry_type in entry_types %}
            <option value={{ entry_type.entry_type_id }}>{{ entry_type.entry_type_name }}</option>
            {% endfor %}
        </select>
      </div>
    <div class="form-group">
        <label for="entry_note">Entry Note</label>
        <textarea class="form-control" id="entry_note" name="entry_note" rows="3" default-input-value=""></textarea>
    </div>
    <div class="form-group">
        <label for="project_id">Select Project</label>
        <select multiple class="form-control" id="project_id" name="project_id">
            {% for project in projects %}
            <option value={{ project.project_id }}>{{ project.project_name }}</option>
            {% endfor %}
        </select>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}
{% block scripts %}
<script src="static/newEntry.js"></script>
{% endblock %}