{% extends 'base.html' %}
{% block title %}Writing Stats Home{% endblock %}
{% block navbar %}
{% if is_logged_in %}
<li class="nav-item">
    <a class="nav-link" href="/new-project">New Project</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/new-entry">New Entry</a>
</li>
<li class="nav-item">
    <select class="form-select" id="currentProject" name="currentProject">
      <option value="all" selected>All</option>
      {% for project in projects %}
      <option value={{ project.project_id }}>{{ project.project_name }}</option>
      {% endfor %}
  </select>
</li>
{% endif %}
{% endblock %}
{% block body %}
{% if is_logged_in %}
<div>
    {% for entry in entries %}
    <div>{{ entry.notes }}</div>
    {% endfor %}
</div>
{% else %}
<div>
    Please log in to view this page.
</div>
{% endif %}
<script src="static/scripts.js"></script>
{% endblock %}
